<app-modal 
  [isVisible]="isVisible" 
  [title]="'Map Layers'" 
  [icon]="'layer-group'" 
  [modalType]="'tool'"
  (close)="toggleVisibility()">
  
  <div class="layer-options" modal-content>
    <div class="layer-option" 
         *ngFor="let layer of availableLayers"
         [class.active]="selectedLayer === layer"
         (click)="changeLayer(layer)">
      <div class="layer-icon">
        <i class="fa" [ngClass]="getLayerIcon(layer)"></i>
      </div>
      <div class="layer-info">
        <div class="layer-name">{{ layer | titlecase }}</div>
        <div class="layer-description">{{ getLayerDescription(layer) }}</div>
      </div>
      <div class="layer-selected" *ngIf="selectedLayer === layer">
        <i class="fa fa-check"></i>
      </div>
    </div>
  </div>
</app-modal> 