<app-modal
  [isVisible]="isVisible"
  [title]="'Distance Measurement'"
  [icon]="'fa-ruler'"
  [modalType]="'measurement'"
  (close)="closeModal()"
>
  <div modal-content>
    <div class="distance-display">
      <span class="distance-value">{{ measureDistance | number:'1.2-2' }}</span>
      <span class="unit">m</span>
      <span *ngIf="measureDistance >= 1000" class="km-unit">({{ measureDistance / 1000 | number:'1.2-2' }} km)</span>
    </div>
    
    <div class="action-buttons">
      <button class="action-button undo" (click)="undoLastMeasurementPoint()" [disabled]="measurePoints.length === 0">
        <i class="fa fa-undo"></i> Undo
      </button>
      <button class="action-button clear" (click)="clearMeasurement()">
        <i class="fa fa-trash"></i> Clear
      </button>
    </div>
    
    <div class="measurement-instructions">
      <i class="fa fa-info-circle"></i>
      <span>Click on the map to add measurement points. The distance will be calculated automatically.</span>
    </div>
  </div>
</app-modal> 